
/**
 * Custom accounts-ui-unstyled styling.
 *
 * @author: Daniele Gazzelloni <daniele@danielegazzelloni.com>
 */


#login-buttons {
    line-height: 35px;
    padding: 15px;
}

#login-buttons a {
    cursor: pointer;
}

#login-buttons a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.accounts-dialog {
    background: #FFFFFF;
    border: solid 1px #D1D1D1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0.8em 1.2em;
}

.login-button {
    color: #0FA0CE;
    cursor: pointer;
}

.login-button:hover {
    text-decoration: underline;
}

.login-buttons-dropdown-align-right {
    text-align: right;
}

.login-buttons-dropdown-align-left {
    text-align: left;
}