
<template name="Navigation">

    <nav class="navbar-container">
        <div class="container">
            <div class="row">

                <!-- Navbar <ul> -->
                <div class="eight columns">
                    <ul class="navbar">
                        {{#each entries}}
                            <li class="entry"><a href="{{link}}">{{entry}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <!-- Login Component -->
                <div class="four columns u-pull-right loginButtons">
                    {{> loginButtons align="right"}}
                </div>

            </div>
        </div>
    </nav>

</template>