
/**
 * Style for "categories" view.
 *
 * @author Daniele Gazzelloni <daniele@danielegazzelloni.com>
 */




/* --------------------- TABLE --------------------- */

.categoriesTable th:last-child {
    width: 10%;
    text-align: center;
}




/* --------------------- DELETE CATEGORY POPUP --------------------- */

.deleteCategory {
    margin: 0.5em auto;
    text-align: center;
}