
/**
 * Style for "home" view.
 *
 * @author Daniele Gazzelloni <daniele@danielegazzelloni.com>
 */




/* --------------------- GENERICS --------------------- */


div.loginAlert {
    margin-top: 50px;
}




/* --------------------- TABLE --------------------- */


table.transactionsHome td.income {
    color: #00da00;
}

table.transactionsHome td.outcome {
    /*color: #dd0000;*/
}

table.transactionsHome th,
table.transactionsHome td {
    text-align: center;
}

table.transactionsHome th:first-child,
table.transactionsHome td:first-child {
    text-align: left;
}

table.transactionsDialog {
    vertical-align: middle;
}