
<template name="Home">
    <div class="column">

        <!-- New Transaction form
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        {{#if currentUser}}

            <form class="submit-transaction">
                <div class="row">
                    <div class="ten columns">
                        <input name="description" class="u-full-width" type="text" placeholder="E.g. Dinner with Annie; Ice creams for Ben and Josh; Gym monthly fee; ..." required="required" tabindex="1" />
                    </div>
                    <div class="two columns">
                        <button class="u-full-width button-primary" type="submit" tabindex="10">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns">
                        <input name="date" id="transactionDate" class="u-full-width" type="date" placeholder="Date" required="required" tabindex="2" />
                    </div>
                    <div class="three columns">
                        <select class="u-full-width align-right" name="category" tabindex="3">

                            {{#each categories}}
                                {{> optionCategory}}
                            {{/each}}

                        </select>
                    </div>
                    <div class="two columns">
                        <select name="type" class="u-full-width right-select" tabindex="4">
                            <option value="Income">Income</option>
                            <option value="Outcome" selected>Outcome</option>
                        </select>
                    </div>
                    <div class="u-full-width two columns">
                        <div class="button-group-addon-left">
                            <span>€</span>
                            <input name="amount" type="number" placeholder="0.00" step="0.01" min="0.00" required="required" tabindex="5" />
                        </div>
                    </div>
                </div>
            </form>



            <!-- Balance
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->

            <div class="balance">
                <h2>Balance: {{balance}}</h2>
            </div>




            <!-- Transactions table
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <table class="u-full-width transactionsHome">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each transactions}}
                        {{> transaction}}
                    {{/each}}

                </tbody>
            </table>

        {{else}}

            <div class="loginAlert">
                <h3>Test account:</h3>
                <p>
                    user: <strong>test@test.com</strong> <br />
                    pass: <strong>testpwd</strong>
                </p>
            </div>

        {{/if}}

    </div>
</template>


<template name="transaction">
    <tr>
        <td>{{description}}</td>
        <td>{{date}}</td>
        <td>{{category}}</td>
        <td>{{amount}}</td>
        <td><button class="delete">&times;</button></td>
    </tr>
</template>


<template name="optionCategory">
    <option value="{{name}}" data-id="{{_id}}"> {{name}} </option>
</template>